*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  /* font-family: */
  /* font-size:17px; */
  /* color::-webkit-scrollbar-track; */
  line-height:1.6;
}


#showcase{
  background-color: black;
  background-image: url('../stars.png') ;
  background-size:cover;
  background-position: center;
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align: center;
  padding: 0 20px;
  opacity:  79%;

}

#showcase h1{
  font-size: 64px;
font-family: 'Rowdies', cursive;
  line-height: 1.2;
  color: #FE3B1F;
}




#showcase .button{
  font-size: 24px;
  text-decoration:none;
  background-color: #FE3B1F;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  width: 300px;
 
  
  
  
}



#showcase .submitted{
  font-size: 18px;
  color: white;
  text-decoration:underline;
}


.imagee {
  width: 400px;
  height: 379px;
  /* padding-top: 800px; */
}








.wrapper{
  display: flex;
}


.wrapper .left,
.wrapper .right{
  width: 50%;
  height: 100vh;
}

.wrapper .left{
  background: white;
}

.wrapper .right{
  background: black;
}